<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Social Movie{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css">
    </head>


    <header>
        <h1> Social Movie </h1>
        <a href="/" > Accueil </a>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="/logout" > Déconnection </a>
        {% else %}
            <a href="/inscription" > Inscriptions </a>
            <a href="/login" > Connection </a>
        [{% endif %}
        <a href="/admin" > Admin </a>
        <a href="{{ path('user_edit')}}">{{app.user}}</a>
    </header>

    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>

    </body>
</html>
<body>

