{% extends 'base.html.twig' %}
{% block body %}
    <div id="info" class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <span>{{user.email}}</span>
            {%for entry in movies %}
                <div class="row">
                    <div class="col-md-6"><a href="{{ path('movie_show',{id:entry.movie.id,name:entry.movie.title}) }}">Title  : {{entry.movie.title}}</a></div>
                    <div class="col-md-6">Rating : {{entry.rating.value}}</div>
                </div>
            {% endfor %}          
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">

        </div>
    </div>
    <style>
        #info{
            color:#EEE;
        }
    </style>
{% endblock %}